.searchForm {
  width: 100%;
  margin: 4rem 0;

  div {
    width: 100%;
    position: relative;
  }

  input {
    border: none;
    background: linear-gradient(35deg, #494949, #313131);
    font-size: 1.8rem;
    color: white;
    border-radius: 1rem;
    outline: none;
    width: 100%;
    padding: 1rem;
    padding-left: 3rem;
  }

  svg {
    position: absolute;
    top: 55%;
    left: 0%;
    transform: translate(100%, -50%);
    color: white;
  }
}

@media only screen and (max-width: 960px) {
  .searchForm {
    width: 80%;
    input {
      border: none;
      font-size: 1.3rem;
      color: white;
      border-radius: 1rem;
      outline: none;
      width: 100%;
      padding: 0.8rem;
      padding-left: 3rem;
    }
  }
}
