.newRecipePage {
  h3 {
    font-size: 1.5rem;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 2fr 2fr;
  gap: 10px;
  width: 100%;
}

.image-container {
  grid-column: 1 / span 1;
  min-height: 15rem;
}

.title-input {
  margin-top: 1rem;
  min-width: 20rem;
  max-width: 30rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  &:hover {
    border: 1px solid #aaf;
  }
}
